@media all and (min-width: 480px) {
    .Register {
      padding: 60px 0;
    }
  
    .Register form {
      margin: 0 auto;
      max-width: 320px;
    }
  }
  
  .Register form span.help-block {
    font-size: 14px;
    padding-bottom: 10px;
    color: #999;
  }